body {
  background: #f9eae1;
}

/******************** HEADER/NAV STYLES *****************/

header {
  padding-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid #7d4f50;
  background: #e0afa0;
}

.left,
.right {
  width: 50%;
  margin-bottom: 1rem;
}

li.nav-item {
  font-size: 1.5rem;
  margin-right: 1rem;
}

ul.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/********************* LIBRARY STYLES ********************/
section {
  margin-bottom: 3rem;
}

main h2 {
  margin-bottom: 2rem;
}

section.inputs .input-group {
  width: 31%;
}

button.add {
  margin-top: 1rem;
  margin-left: 0.75rem;
  width: 8%;
}

.catalog {
  text-align: center;
}

.catalog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.catalog-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 1rem;
}

.catalog-entry * {
  text-align: center;
}

.catalog-entry button {
  border: 2px solid black;
}

.buttons {
  margin-left: 1rem;
}

.hline-break {
  padding: 20px 0;
  border-bottom: 2px solid #ccc;
}

.entry-button {
  margin-right: 1rem;
}
